#ShareToggleContainer {
  margin: -20px;
  display: flex;
  align-items: center;
  justify-content: right;
}

#ShareToggle {
  color: hsl(0, 0%, 100%);
  width: 30px;
  height: 30px;
  background-color: hsl(0, 0%, 20%);
  border-radius: 0.5rem;
  outline: none;
  border: none;
  cursor: crosshair;
  transition: all 0.15s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
}

#ShareToggle:hover {
  color: hsl(0, 0%, 12%);
  background-color: #FF4C29;
}

#ShareToggle:focus {
  outline: 2px solid #FF4C29;
  outline-offset: 2px;
}  

.icon {
  width: 16px;
  height: auto;
  stroke-width: 2px;
}

#shareCard {
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    animation-name: animateShareCard;
    animation-duration: 0.5s;
}

/* @keyframes animateShareCard {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
} */

#shareCard .content {
  background-color: hsl(0, 0%, 12%);
  max-width: 450px;
  padding: 1rem;
  margin: 0 1rem;
  border-radius: 10px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
}

.wrapper {
  background-color: hsl(0, 0%, 20%);
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.wrapper .profile {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper .qr-container {
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  width: 45%;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.qr-container:hover {
  background-color: hsl(0, 0%, 75%);
}

.qr-container a:focus {
  background-color: hsl(0, 0%, 75%);
  outline: 2px solid #FF4C29;
  outline-offset: 2px;
  border-radius: 10px;
}

.header {
    padding: 4px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.close-button {
  font-size: 24px;
  font-weight: bold;
  color: hsl(0, 0%, 100%);
  width: 30px;
  height: 30px;
  background-color: hsl(0, 0%, 20%);
  float: right;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  cursor: crosshair;
  transition: all 0.15s ease-in-out;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
}

.close-button:hover {
  color: hsl(0, 0%, 12%);
  background-color: #FF4C29;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
} 

.close-button:focus {
  outline: 2px solid #FF4C29;
  outline-offset: 2px;
}  

.header h2 {
  color: white;
  display: block;
  font-size: 1rem;
}

.body {
    width: 100%;
    display: block;
}

.body #profilePic {
    width: 100px;
    height: auto;
    border-radius: 50%;
    display: block;
    margin-inline: auto;
    margin-bottom: 1.25rem;
    
  }

.body h2 {
    font-size: 1.5rem;
    color: hsl(0, 0%, 100%);
    text-align: center;
  }
  
.body h2 span {
    color: #FF4C29;
    display: block;
    font-size: 1rem;
    margin-top: 0.5rem;
}

#qr {
  max-width: 100%;
  height: auto;
  display: block;
  cursor: crosshair;
}

.copy-link {
  --height: 36px;

  display: flex;
}

.copy-link-input {
  flex-grow: 1;
  padding: 0 10px;
  font-size: 14px;
  border: none;
  background-color: hsl(0, 0%, 20%);
  color: white;
  border-radius: 10px 0 0 10px;
  border-right: none;
  outline: none;
  height: var(--height);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
} 

.copy-link-button {
  flex-shrink: 0;
  height: var(--height);
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: orangered;
  color: white;
  border-radius: 0 10px 10px 0;
  border-right: none;
  outline: none;
  cursor: crosshair;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
}

.copy-link-button:hover {
  background-color: #be361b;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
}

.copy-link-button:focus {
  outline: 2px solid #FF4C29;
  outline-offset: 2px;
}  